*{
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;padding: 0;
    background-repeat: no-repeat;
    max-width: 100%;
	

}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
   
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fa7c30; 
    height:120px;
	
}
::selection {
   
    background: #ecb16c;
}



img{
    max-width: 100%;
}
/* BRANDING */
.orange{
    color: #eb7231;
}
.orange-bg{
    color: #eb7231;
}
.container{
   max-width: 1300px;
   margin: 0 auto;
}
.menu{
    display:flex;
}
.navigation{
    width: 100%;
    display:flex;
justify-content: space-between;
align-items: center;
}
ul{
    list-style: none;
    display: inline;
}
li{
    display: inline;
    padding: 0 10px;
}
.navigation a{
    text-decoration: none;
    color:#000;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.5px;
}
.logo h2{
    font-size: 1.5rem;
}
.active{
    position: absolute;
    left: -8rem;
}
.menu-icon{
    display: none;
}


/* header text */
.logo h2 {
    font-size: 2.5rem;
    font-weight: 400;
}
.header-bg{
    background-image: linear-gradient(#0202021c,#db9c7542),url("../image/home.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;  
    
}
button {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 0;
    border: none;
    background: #eb7231;
    color: white;
    font-weight: 700;
}
header{
   
}
#header_txt{
    display: flex;
  justify-content: center;
    flex-direction: column;
    height: 55%;
   
}
#header_txt h2 {
    font-size: 2.3rem;
    color: white;
    margin: 20px 0;
}
#header_txt p {
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 20px;
}
/* end header text */
/* booking sec */
.booking_section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);   
    margin-top: -197px;
    background: white;
    margin-bottom: 3rem;
}
.booking_section h4 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}
.booking_section h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 20px 0;
}
.booking_section input {
    padding: 10px;
    width: 251px;
    margin: 10px 10px 20px 0;
    border: none;
    border-bottom: 1px solid rgb(108 117 125 / 27%);
    color: rgb(108 117 125);
    font-size: 1.2rem;
}


.right .btn {
    margin: 30px 0;
}
.left {

    margin-right: 20px;
}
/*END  booking sec */

/* welcome to fitness */
#welcometofitness{
    background-color: #f1f5f8;
    padding: 3rem 0;
}
.welcometofitness{
    display: flex;
    padding: 3rem 0;
    align-items: center;
}
.rightt-sec,.left-sec{
    flex-basis: 50%;
}
.welcometofitness h2 {
    font-weight: 700;
    font-size: 2rem;
}
.welcometofitness p {
    font-size: 1rem;
}

.welcometofitness p.bold-txt {
    font-weight: 600;
    padding: 20px 0;
}
.welcometofitness .btn {
    margin: 30px 0;
}
/* end welcome to fitness */
/*  welcome_1*/
section#welcome_1,#trainers {
    padding: 3rem 0;
}
.welcome_1{
    padding: 3rem 0;
}
.card1 img {
    max-width: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.welcome_1 h2 {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.welcome_1 .cards{ 
    display: flex;
    padding: 2rem 0;
    gap: 2rem;
}
.welcome_1 .card1{
    border-radius: 10px;
    background-color: #f1f5f8;
    border: 1px solid #dae3eb8f;
}
.welcome_1 h5,.trainers h5{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.welcome_1 p,.trainers p{
    font-size: 1rem;
    padding-bottom: 1rem;
}
.welcome_1 .card1 .card_txt ,.trainers .card1 .card_txt{
    padding: 2rem;
}
/*  welcome_1 end */
/*  training */
#training{
    background-image: linear-gradient(rgb(40 36 36),#db9c7542),url(../image/home\ \(3\).png);  
    background-size: cover;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
}
.trainers .card1 img {
    max-width: 300px;
    width: 100%;
}
.training h4 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}
.training h2{
    font-size: 2.3rem;
    padding-bottom:1rem ;
}
.training{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: White;
}
/*  training end */
/* trainers */
.trainers{
    padding: 3rem 0;
}
.trainers .cards{
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
    text-align: center;
}
.trainers h2 {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 1rem;
}
/* end trainers */
/* free pass */
#free_pass{
    display: flex;
   justify-content: center;
   align-items: center;
}
.left1{
    background-image:linear-gradient(#3c393924,#403b3b),url(../image/home\ \(5\).png);
    padding: 5rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 100%;
    height: 100%;
   text-align: center;
}

#free_pass h4 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    color: white;
}
#free_pass h2{
    font-size: 2.3rem;
    padding-bottom:1rem ;
    color: white;}

.right1{
    background-image:linear-gradient(#3c393924,#403b3b),url(../image/home\ \(5\).png);
    height: 100%;
    padding: 5rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 100%;
    text-align: center;
    
    
}
/* end free pass */
/* footer */
#footer{
    background-color: #212529;
}
.footer_section{
    padding: 3rem 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-around;
}
.footer_section p{
    font-size: 1rem;
    padding: 0.5rem 0;
    color: white;
}
.element_2, .element_1, .element_3 {
    flex-basis: 33.33%;
}
.element_2{margin: 0 1rem;}
.fab {
    color: white;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
}
.blogs{display: flex;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}
.blogs p{
    padding-left: 1rem;
}
#icon{display:none;}
/* end footer */

/* responsive menu */
@media only screen and (max-width: 991px){
    html{
        font-size: 14px;
    }
    header {
        padding: 0 50px;
    }
    .container.booking_section {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 3rem 30px;
        
    }
    #welcometofitness {
        padding: 0 50px;
    }
    .rightt-sec{
        text-align: center;
    }
    .rightt-sec img {
        width: 350px;
    }
    .welcome_1{
        padding: 0 50px;
    }
    .trainers{
        padding: 0 50px;
    }
    .footer_section{
        padding: 3rem 50px;
    }
    .footer_section .img-row img{
        width:25%;
      
    }
   .subscribe{
    display: flex;

  
   }    

}
/*fot container */
@media (min-width: 576px)and(max-width: 767px){
.container {
    max-width: 540px;
}
}
@media (min-width: 768px)and(max-width: 991px){
.container{
    max-width: 720px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1295px) {
	.booking_section input {
   	width: 28% !important;
}
}


@media only screen and (max-width: 768px){
html{
font-size:12px;}

   
    .welcometofitness {
        display: flex;
        flex-direction: column;
    }
#header_txt{
height:auto;}
    .left-sec {
        order: 2;
    }
    .right-sec img {
        height: 320px;
        width: 320px;
    }
    .menu-icon{
        display: block;
    }
    .container.booking_section {
        display: flex;
        flex-direction: column;
    }
    .right {
        padding-top: 20px;
    }
    .booking_section input {
        max-width: 19%;
        width: 100%;
    }
    .booking_section img {
        max-width: 100%;
        height: 350px;
    }
    .cards{
        flex-direction: column;
    }
.trainers .card1 img{
    max-width: 250px;
    max-height: 250px;
    }
    #free_pass{
        row-gap: 0.1rem;
        flex-direction: column;}
        
   .left1{
        padding:5rem 3rem;
        flex-basis: 100%;
}
   
    .right1{
        flex-basis: 100%;
        height: 100%;
        padding:5rem 3rem;
    }
    .footer_section{
       flex-direction: column;
        gap: 2rem;
    } 
    /* responsive */
    
    #icon{
	display:block;
        position: fixed;
        top: 2rem;
        right: 2rem;
        transition: 0.3s ease-in;

    }
    #menu1 a{
padding:1rem 2rem;
display: inline-block;
    }
    #menu1{
        text-align: center;
        width:0px;
        height:0px ;
        position: fixed;
        top: 0rem; 
        right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        transition: 0.5s;
        border-radius: 0 0 0px 50%;
    }
    .navigation{
    width: 100%;
    display:flex;
    flex-direction: column;
justify-content: space-between;
align-items: center;
}
ul{
    list-style: none;
    display: block;
}
li{
    display: block;
    padding: 0 10px;
}
.navigation a{
    text-decoration: none;
    color:#000;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.5px;
    display: inline-block;
}
i#icon {
    color: #eb7231;
    font-size: 1.5rem;
}
   
}



/* 


 @media (any-pointer: fine) {
	 .c-cursor {
		 display: block;
	}
	 .c-cursor__inner {
		 pointer-events: none;
		 position: absolute;
		 top: 0;
		 left: 0;
		 mix-blend-mode: difference;
		 border-radius: 50%;
		 z-index: 50;
	}
	 .c-cursor__side {
		 position: absolute;
		 top: 50%;
		 width: 5px;
		 height: 1px;
		 background: #eb7231;
		 opacity: 0;
	}
	 .c-cursor__side--left {
		 right: calc(100% + 5px);
	}
	 .c-cursor__side--right {
		 left: calc(100% + 5px);
	}
	 .c-cursor__inner--circle {
		 width: 40px;
		 height: 40px;
		 border: 1px solid #ecb16c;
	}
} */
